.BadgeHome__container {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  background: url("../../images/stars.svg"), #1b1b25;
  background-repeat: repeat;

  justify-content: center;
  align-items: center;
  color: white;
}

.BadgeHome__text {
  text-align: center;
  padding: 68px;
}

.BadgeHome__text-title {
  font-weight: 800;
  font-size: 30px;
  padding-top: 20px;
  margin-bottom: 5px;
}

.BadgeHome__text-title-subtitle {
  font-size: 22px;
  max-width: 296px;
}

.BadgeHome__btn {
  font-size: 27px;
  font-weight: 600;
}
